@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="audio-grid" class="grid place-items-center gap-4 mt-40"></section>
<menu id="audio-controls" class="fixed flex-col bg-base-300 rounded-box w-56 hidden gap-4 p-4">
    <li class="text-center"><h2 class="text-center">Controls</h2></li>
    <li><input id="volume-slider" class="audio-control range" type="range" min="0" max="100" value="100"/></li>
    <li><button id="mute-button" class="audio-control btn btn-error w-full">Mute</button></li>
</menu>


@section Scripts {
    <script>
        if (!localStorage.getItem("displayName")) 
            window.location.replace(`${window.location.origin}/Setup`);
    </script>
    <script src="~/lib/peerjs.js"></script>
    <script src="~/lib/signalr.js"></script>
    <script src="~/js/components/AudioBubble.js"></script>
    <script>
        "use strict";

        const socket = new signalR.HubConnectionBuilder().withUrl("/brokerHub").build();
        const peers = new Map();

        const peerBroker = new Peer(undefined, {
            host: "/",
            port: 9000
        })

        socket.start().then(() => {
            peerBroker.on("open", async id => {
                await socket.invoke("AnnounceConnection", id);
            })
        });

        socket.on("peer-disconnected", peerId => {
            console.log(peerId)
            if (peers.get(peerId)) peers.get(peerId).close();
        })


        function addAudioStream(audioBubble, stream) {
            audioBubble.audio.srcObject = stream;
            audioBubble.audio.addEventListener("loadedmetadata", () => {
                audioBubble.audio.play();
            })
            
            console.log(audioBubble)
            document.querySelector("#audio-grid").append(audioBubble);
        }

        function connectToNewPeer(peerId, stream) {
            const call = peerBroker.call(peerId, stream);
            const peerAudioBubble = document.createElement("div", { is: "audio-bubble" });
            
            call.on("stream", peerAudioStream => {
                addAudioStream(peerAudioBubble, peerAudioStream);
            });
            call.on("close", () => {
                peerBroker.close();
            });
            
            peers.set(peerId, call);
        }

        navigator.mediaDevices.getUserMedia({
            video: false,
            audio: true,
        }).then(stream => {
           peerBroker.on("call", call => {
               call.answer(stream);
               const peerAudioBubble = document.createElement("div", { is: "audio-bubble" });
               
               call.on("stream", peerAudioStream => {
                    addAudioStream(peerAudioBubble, peerAudioStream);     
               });
           })
           
           socket.on("peer-connected", peerId => {
               connectToNewPeer(peerId, stream);
           })
        })
    </script>
}