@page

<h1>Success!</h1>

@section Scripts {
    <script>
        if (!localStorage.getItem("displayName"))
            window.location.replace(window.location.origin);
        
        localStorage.setItem("avatarUrl", "@TempData["AvatarUrl"]")
        localStorage.setItem("displayName", "@TempData["DisplayName"]")
        
        window.location.replace(window.location.origin);
    </script>
}
